{% extends "operator/base.html" %}
{% block title %}Operator panel{% endblock %}
{% block content %}
{% if flash_message %}
<div class="banner {% if flash_key == 'guest_added' %}banner--settle{% else %}banner--error{% endif %}">
  {{ flash_message }}
</div>
{% endif %}
{% if flash_username %}
<div class="added-guest-callout">
  <p class="added-guest-callout__label">Username</p>
  <p class="added-guest-callout__value">{{ flash_username }}</p>
</div>
{% endif %}

{% include "operator/partials/" + view + ".html" %}

{% include "operator/partials/_secondary_actions.html" %}

<footer class="operator-footer{% if 'stale' in backup_status %} operator-footer--stale{% endif %}">
  <p>Backup: {{ backup_status }}</p>
</footer>
{% endblock %}
